<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Recipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-inverse">
    <div class="container">

    <span class="text-muted">Recipe Diary</span>

    <div id="slidemenu">
      <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
      <% if user_signed_in? %>

      <li class="">
        <%= link_to "Home", posts_path, class:"glyphicon glyphicon-home home" %>
      </li>

      <li class="">
        <%= link_to 'My recipe', user_path(current_user), class:"glyphicon glyphicon-user" %>
      </li>

      <li class="">
          <%= link_to "Post", new_post_path, class:"glyphicon glyphicon-cutlery" %>
      </li>

      <li class="">
          <%= link_to "Search", search_posts_path, class:"glyphicon glyphicon-search" %>
      </li>

      <li class="">
        <%= link_to "Logout", destroy_user_session_path,method: :delete, class:"glyphicon glyphicon-share" %>
      </li>


    <% else %>
      <li class="">
        <%= link_to "Home", root_path %>
      </li>
      <li class="">
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li class="">
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>
</div>
</header>

    <%= yield %>
  </body>
</html>
